@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url("../fonts/montserrat-regular-webfont.woff") format('woff'),
        url("../fonts/Montserrat-Regular.ttf") format('truetype'),
         url("../fonts/montserrat-regular-webfont.woff2") format('woff2');       
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/montserrat-medium-webfont.woff") format('woff'),
        url("../fonts/Montserrat-Medium.ttf") format('truetype'),
         url("../fonts/montserrat-medium-webfont.woff2") format('woff2');  
}
/* montserrat-600 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/montserrat-semibold-webfont.woff") format('woff'),
        url("../fonts/Montserrat-SemiBold.ttf") format('truetype'),
         url("../fonts/montserrat-semibold-webfont.woff2") format('woff2');   /* Legacy iOS */
}