@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/montserrat-regular-webfont.woff") format('woff'),
         url("../fonts/montserrat-regular-webfont.woff2") format('truetype');
    font-weight: 700;
         
}