
@media screen and (max-width: 768px)  {
    
    .info__speed {
		margin: auto;
	}


    .info__road {
		margin: auto;
	}
    
    .nav__logo {
        margin-left: 0%;
    }
    
    .nav__end{
        margin-right: 24px;
    }
  
    .nav__menu{
        display:none;
    }

    .nav__end__log{
        display:none;
    }
    
    .info{
        margin-top: 10px; 
    }
    
    .info__title {
		font-size: 50px;
		line-height: 61px;
	}

	.info__subtitle {
		font-size: 10px;
		line-height: 12px;
		
	}

    .info_footer{
      flex-wrap: wrap;
      margin-top: 18px;
    }

    .argument__number{
        font-size: 27px;
    }

    .argument__measure{
        font-size: 15px;
    }

    .argument__text{
        font-size: 10px;
    }

    .argument__test{
        margin-top: 43px;
        font-size: 13px;
        color: #E51937;
    }

    .argument__button{
        margin-top: 43px;
        font-size: 13px;
    }
    
    
    .argument__test:before {
        background-image: url(../img/steering-wheel_red.png);
    }

    
    .info__anhor{
        padding-top: 34px;  
    }

    .function__parametr3 {
		margin-bottom: 145px;
	}

	.function__about {
    	margin-left: 31px;
	}

	.function__button {
		display: block;
		margin-top: 25px;
    }
    
/*1 подвал*/
    .section {
		flex-direction: column;
	}

	.section__wrap {
		height: 250px;
	}

	.section__head {
		display: none;
	}

	.section__option {
		width: 100%;
		box-sizing: border-box;
		padding-left: 25px;
		padding-right: 25px;
	}

	.function__description {
		width: auto;
	}

	.info__display {
		display: none;
	}

	.info__wf {
		display: none;
	}

	.info_battery {
		display: none;
	}

	.option__text {
		display: none;
	}

	.option__btn {
		display: none;
	}

	.def {
		flex-direction: column-reverse;
	}

	.def__inform {
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 0;
	}

	.defens__img {
		position: static;
		width: 80%;
		margin: auto;
    	display: block;
	}

	.def_bott {
		display: none;
	}

	.def__about {
		display: none;
	}

	.def__rating {
		display: none;
	}

	.def__box {
		display: none;
	}

}

