
body {
	margin: auto;
	max-width: 1440px;
	font-family: Montserrat;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.header__logo{
    margin-top: 24px;
    margin-left: 49px;
}

.logo__tesla{
    width: 100%;
    height: auto;
}

.header__nav {
    margin-top: 40px;
}
.header__shop {
    margin-top: 40px;
    margin-right: 50px;  
}

.nav__menu {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    padding-left: 22px;

}

.nav__menu__red {
    border-bottom: 2px solid black;
    border-color: #E51937;
    border-radius: 2px;
    color: #E51937;
    text-decoration: none;
    
}

.shop__log {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
}

.shop__burger {
    width: 24px;
    height: 15px;
	margin-left: 30px;
	display: inline-block;
    position: relative;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.shop__burger:after{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 7px;
    height: 2px;
    background: red;
}

/*Навигационное меню*/

.info {
    text-align: center;  
    margin-top: 57px; 
  }

.info__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.info__title{
    font-size: 90px;
    margin: 0;
}

.info__subtitle{
    font-size: 15px;
    margin: 0;
    margin-bottom: auto;
}
 
  .info_footer{
    display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
  }

  .info__speed {
    margin-right: 82px;
	width: 154px;
}

.info__speed:before {
	content: url(../img/Group.png);
}

.info__road {
	margin-right: 105px;
	width: 142px;
}

.info__road:before {
	content: url(../img/icon.png);
}


.info__argument {
    display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.argument__number{
    font-weight: 600;
	font-size: 35px;
	line-height: 43px; 
}
    
.argument__measure {
    font-size: 20px;
    line-height: 24px; 
}

.argument__text {
	font-size: 12px;
	line-height: 15px;
}

.argument__test {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	margin-right: 35px;
}

.argument__test:before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	background-image: url(../img/steering-wheel.png);
	margin-right: 8px;
}


.argument__button {
    border: 2px solid red;
    width: 160px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #E51937;
}

.info__anhor {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
    margin-top: 39px;

}


.parametr {
	display: flex;
    align-items: center;
}



/*первая секция*/

.section {
	display: flex;
}

.section__wrap {
	width: 100%;
	background-image: url(../img/2013-tesla-model-s-cockpit.png);
	background-position: bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.section__head {
	font-size: 70px;
	font-weight: 600;
	color: #E51937;
	padding-left: 80px;
}

.section__option {
	background-color: #E51937;
	width: 560px;
	padding-left: 50px;
    padding-top: 51px;
    color: white;
}


.section__paragr {
	font-size: 30px;
	font-weight: 600px;
}

.section__description {
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	width: 341px;
}

.option__box__van {
	margin-top: 50px;
}

.info__display:before {
	content: "";
	display: block;
	width: 36px;
	height: 53px;
	background-image: url(../img/screen.png);
	background-repeat: no-repeat;
	margin-right: 8px;
	margin-top: 19px;
}

.info__wf {
	margin-top: 35px;
}

.info__wf:before {
	content: "";
	display: block;
	width: 44px;
	height: 34px;
	background-image: url(../img/Groups.png);
	margin-right: 8px;
}

.info_battery {
	margin-top: 27px;
}

.info_battery:before {
	content: "";
	display: block;
	width: 36px;
	height: 52px;
	background-image: url(../img/bag.png);
	margin-right: 8px;
	margin-top: 5px;
}

.option__text {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.option__text:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url(../img/gro.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 6px;
}

.option__text:hover:before {
	background-image: url(../img/gro.png);
}

.option__btn {
	margin-top: 170px;
	margin-left: 30px;
    margin-bottom: 63px;
    border: 2px solid white;
    width: 160px;
    height: 40px;
    font-weight: bold;  
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #E51937;
}

/*2 секция */


.def {
    display: flex; 
}

.def__inform{
    padding-left: 50px;
	padding-top: 51px;
	box-sizing: border-box;
    background-color: #E51937;
	width: 560px;  
	color: white;
}

.defens {
	width: 100%;
	position: relative;
}

.def__header {
	font-size: 30px;
}

.def__par {
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	padding-bottom: 40px;
	padding-right: 35px;
    box-sizing: border-box;
}

.def__rating {
	font-size: 30px;
}

.def__box {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.def__boxs {
	position: relative;
	padding-bottom: 18px;
}

.def__box_text {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 17px;
}

.def__box_text:after {
	content: "";
	width: 125px;
	height: 23px;
	background-image: url(../img/Star.png);
	position: absolute;
	left: 158px;
}

.def__box_mini {
	font-size: 10px;
	opacity: 0.7;
}

.def_bott {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-left: 98px;
	margin-top: 89px;
}

.def_bott:before {
	content: "";
	display: inline-block;
	width: 62px;
	height: 74px;
	background-image: url(../img/Grou.png);
	position: absolute;
	left: 0;
}

.def__secure {
	font-size: 50px;
	font-weight: 600;
	line-height: 48px;
}

.def__secure__mini {
	font-size: 25px;
}

.def__about {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.def__about:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url(../img/gro.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-right: 6px;
}

.def__button {
	margin-top: 59px;
	margin-left: 13px;
	margin-bottom: 63px;
}

.defens__img {
	position: absolute;
	top: 172px;
    left: -94px;
    width: 107%;
}

.footer {
	position: absolute;
	bottom: 13px;
	right: 13px;
}

.footer__webtext {
	font-size: 8px;
	font-weight: bold;
	color: black;
	vertical-align: top;
}

.defens_title {
	color: #E51937;
	font-weight: 600;
	font-size: 200px;
	opacity: 0.05;
	text-align: right;
	margin-top: 110px;
}

a:hover{
 color: blueviolet;
}