
body {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__img{
    margin-top: 24px;
    margin-left: 49px;
}

.nav__menu {
    margin-top: 40px;
}
.nav__end {
    margin-top: 40px;
    margin-right: 50px;  
}

.nav__menu__model {
    font-family: Montserrat;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    padding: 22px;

}

.nav__menu__model__red {
    border-bottom: 2px solid black;
    border-color: #E51937;
    border-radius: 4px;
    color: #E51937;
    text-decoration: none;
}

.nav__end__log {
font-family: Montserrat;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
}

/*Навигационное меню*/

.info__head {
    display: block;
    text-align: center;
    font-family: Montserrat;
    font-size: 90px;
    margin-top: 74px;
    margin-bottom: 0;
}

.info__paragraf {
    display: block;
    font-family: Montserrat;
    text-align: center;
    font-size: 15px;
    padding-top: 9;
}

.info__img {
    display: inline-block;
    margin-left: 17%;
    margin-right: 15%;
}
/* Загаловок параграфф и машина*/

.info__parameter {
    display: flex;
    justify-content: flex-start;
    padding-left: 28%;
    padding-right: 28%;
    height: 40px;
}

.info__argument {
    display: flex;
    padding-right: 10%;
}

.info__argument__number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 25px;
}
    
.info__argument__measure {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
}

.info__argument__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    display: flex;   
}

.info__botton {
    position: absolute;
    padding-left: 26%;
}

.info__argument__test {
    padding-right: 50px;
    padding-left: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}

.info__argument__button {
    border: 2px solid red;
    width: 160px;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #E51937;
}

.info__botton_img{
    position: absolute;
    bottom: 1ch;
    left: 450px;
}

/*первая секция*/

.section {
    display: flex;
    padding-top: 90px;
}

.section__head {
    position: absolute;
    display: inline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 70px;
    color: red;
    padding-left: 70px;
}

.section__img{
    width: 70%;
}

.section__option {
    background-color: red;
    width: 30%;   
}

.option__box { 
    padding-top: 50px;
    margin-left: 155px;
    margin-right: 155px;
    
    
}

.option__button{
    padding-bottom: 70px;
    margin-right: 50px;
}
.option__box__paragr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
    color: white;  
    
}
.option__box__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
    color: white;
}
.option__box__numbers {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 35px;
    color: white;
    padding-left: 60px;

    
    
}
.option__box__bigtext {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
    color: white;
    padding-left: 5px;

}
.option__box__bigtext-van{
    display: flex;
    padding-left: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
    color: white;
}
.option__box__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: white;
    padding-left: 65px;
    margin-bottom: 20px;
    display: flex   ;
}

.option__box__img{
    position: absolute;
    margin-top: 10px;
}
.option__button {
    margin-right: 50px;
    margin-left: 50px;
    text-align: center
}
.option__button_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.option__button__btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    width: 160px;
    height: 40px;
    margin-left: 70px;
    
}

/*2 секция*/


.def {
    display: flex; 
}

.def__inform{
    display: inline-block;
    background-color: red;
    width: 30%;  
 
}
.def__header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
    color: white;
    padding-left: 25%;
    padding-right: 25%;
}


.def__par {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
    color: white;
    padding-left: 25%;
    padding-right: 25%;
    
}

.def__rating {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
    color: white;
    padding-left: 25%;
    padding-right: 25%;
}

.defens{
    display: inline-block;
    width: 70%;  
}


.defens__img {
    position: absolute;
    left: 25%;
}

.def__secure {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 50px;
    color: white;
    padding-left: 25%;
    padding-right: 25%;
}
.def__secure__mini {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 25px;
    color: white;
    padding-left: 25%;
    padding-right: 25%;
}

.def__box {
    display: inline-block;
    margin-right: 20px;
    padding-left: 25%;
    padding-right: 25%;
    left: 20%;
}

.def__box_star{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    padding-left: 25%;
    padding-right: 25%;
    
}
def__about
def__button